// app global css in SCSS form
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  font-size: 1rem;
}

.q-toolbar a {
  text-decoration: none;
  color: black;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

a {
  color: $accent;
}

a.q-markdown--link,
a.epfl {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: min(0.08em, 0.1rem);
  text-underline-offset: 0.14em;
  color: black;
}

a:hover.q-markdown--link,
a:hover.epfl {
  text-decoration: underline;
  text-decoration-color: black;
  color: red;
}

.text-help {
  color: $grey-6;
}

.text-hint {
  color: $grey-8;
  font-size: smaller;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.1em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

h2 .q-icon {
  transform: translateY(-0.08em);
}

span .q-icon {
  transform: translateY(-0.09em);
}

.unit-list .q-focus-helper {
  display: none;
}

.unit-contributors {
  font-size: 1em;
  color: $grey-7;
}

.unit-description {
  font-size: 1em;
}

.keyword {
  font-size: 0.75em;
}

.unit-name {
  transition: color 0.3s;
}

.unit-details {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: $grey-6;
}

.metadata-table-property {
  color: $grey-9;
  font-weight: bold;
  width: 180px;
}

.metadata-table-value {
  color: $grey-6;
}

li + li {
  margin-top: 10px;
}

p:last-child {
  margin-bottom: 0;
}

.text-logo {
  color: red;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 2.3em;
}

.app-md {
  blockquote.q-markdown--note {
    border-width: 0px 0px 0px 8px;
    border-radius: 0;
    border-style: solid;
    border-color: #9e9e9e #009688;
    background-color: white;
  }

  table.q-markdown--table ul {
    padding-left: 20px;
  }
}

.stepper-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 320px;
  text-align: center;
}

.q-popup-edit__buttons {
  button {
    font-size: smaller;
  }
}
